flows.json
[{"id":"41a22a83.205c3c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"aef1feb9.79d568","type":"tab","label":"Control","disabled":false,"info":""},{"id":"6f2537fb.c6ffd","type":"tab","label":"Logger","disabled":false,"info":""},{"id":"a96f9b8f.ec677","type":"ui_group","name":"ĐÈN","tab":"59b6904f.a9a2a","order":2,"disp":true,"width":"6","collapse":false},{"id":"3d44e0fa.6005e","type":"ui_group","name":"NHIỆT ĐỘ","tab":"59b6904f.a9a2a","order":4,"disp":true,"width":"6","collapse":false},{"id":"70fc3089.f3fae","type":"ui_group","name":"ĐỘ ẨM","tab":"59b6904f.a9a2a","order":5,"disp":true,"width":"6","collapse":false},{"id":"59b6904f.a9a2a","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"be15b399.4aa36","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Times New Roman,Times,serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Times New Roman,Times,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Smart Home Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"160e81fb.f1c86e","type":"ui_group","d":true,"name":"Datalog Browser","tab":"","order":1,"disp":true,"width":"16","collapse":false},{"id":"3a545bc3.3e23d4","type":"ui_group","name":"QUẠT","tab":"59b6904f.a9a2a","order":3,"disp":true,"width":"6","collapse":false},{"id":"9dad0d5.91e6e7","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":7,"width":1,"height":1},{"id":"15929d22.4fa32b","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":8,"width":1,"height":1},{"id":"afea232c.05ea","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":9,"width":1,"height":1},{"id":"26e0be05.9b1112","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":15,"width":1,"height":1},{"id":"124dc6ff.ea1f41","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":17,"width":1,"height":1},{"id":"eba25b37.21bfe","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":18,"width":1,"height":1},{"id":"520711af.af28f","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":19,"width":1,"height":1},{"id":"dcf330f.ec98cd","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":20,"width":1,"height":1},{"id":"2929d6ef.8c72d2","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":21,"width":1,"height":1},{"id":"86de40cb.8f5cd","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":22,"width":1,"height":1},{"id":"ecfbb3c4.cae9b","type":"ui_group","name":"BÁO CÁO","tab":"1967a97f.63b9d7","order":1,"disp":true,"width":"10","collapse":false},{"id":"9282dbdf.6fa6","type":"ui_group","name":"BIỂU ĐỒ NHIỆT ĐỘ - ĐỘ ẨM","tab":"1967a97f.63b9d7","order":2,"disp":true,"width":"10","collapse":false},{"id":"6fbfc926.970768","type":"mqtt-broker","name":"","broker":"smallprojectnode.ddns.net","port":"8383","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"84bb0723.788e6","type":"ui_group","name":"TRẠNG THÁI","tab":"59b6904f.a9a2a","order":1,"disp":true,"width":"6","collapse":false},{"id":"1967a97f.63b9d7","type":"ui_tab","name":"BÁO CÁO","icon":"insert_chart","disabled":false,"hidden":false},{"id":"6f001f1d.cae918","type":"mqtt in","z":"aef1feb9.79d568","name":"100","topic":"datalog/100","qos":"2","datatype":"auto","broker":"6fbfc926.970768","x":90,"y":60,"wires":[["9fb7e5fc.707c78"]]},{"id":"78bff175.313188","type":"ui_text","z":"aef1feb9.79d568","group":"a96f9b8f.ec677","order":1,"width":3,"height":2,"name":"light","label":"TRẠNG THÁI: ","format":"","layout":"col-center","x":790,"y":60,"wires":[],"icon":"node-red/light.svg"},{"id":"86f8ad83.3a4ab","type":"mqtt out","z":"aef1feb9.79d568","name":"1001","topic":"light/1001","qos":"0","retain":"","broker":"6fbfc926.970768","x":310,"y":360,"wires":[]},{"id":"45335d4e.a400a4","type":"ui_button","z":"aef1feb9.79d568","name":"","group":"a96f9b8f.ec677","order":3,"width":0,"height":0,"passthru":false,"label":"MỞ","tooltip":"Mở đèn","color":"","bgcolor":"","icon":"brightness_high","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":360,"wires":[["86f8ad83.3a4ab","415a80a9.3e5ec"]]},{"id":"7b0ce987.a1b868","type":"change","z":"aef1feb9.79d568","name":"On light","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":60,"wires":[["78bff175.313188","6d24fb1e.4d3e6c"]]},{"id":"9fb7e5fc.707c78","type":"switch","z":"aef1feb9.79d568","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":60,"wires":[["7b0ce987.a1b868"],["dfba1014.cb079"]]},{"id":"dfba1014.cb079","type":"change","z":"aef1feb9.79d568","name":"Off light","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":100,"wires":[["78bff175.313188","6d24fb1e.4d3e6c"]]},{"id":"415a80a9.3e5ec","type":"debug","z":"aef1feb9.79d568","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":420,"wires":[]},{"id":"5baf53ee.7b74f4","type":"ui_gauge","z":"aef1feb9.79d568","name":"","group":"3d44e0fa.6005e","order":1,"width":0,"height":0,"gtype":"donut","title":"-40 - 120 °C","label":"°C","format":"{{msg.payload}}","min":"-40","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":220,"wires":[]},{"id":"2e8b80e6.6fb55","type":"ui_button","z":"aef1feb9.79d568","name":"","group":"a96f9b8f.ec677","order":4,"width":0,"height":0,"passthru":false,"label":"TẮT","tooltip":"Tắt đèn","color":"","bgcolor":"","icon":"brightness_low","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":420,"wires":[["86f8ad83.3a4ab","415a80a9.3e5ec"]]},{"id":"e8d1ea5c.301df8","type":"ui_gauge","z":"aef1feb9.79d568","name":"","group":"70fc3089.f3fae","order":1,"width":0,"height":0,"gtype":"wave","title":"0 - 100 %","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":280,"wires":[]},{"id":"58b6111e.5ca0d8","type":"mqtt out","z":"aef1feb9.79d568","name":"1002","topic":"light/1002","qos":"0","retain":"","broker":"6fbfc926.970768","x":770,"y":360,"wires":[]},{"id":"a0ca43ac.b66218","type":"ui_button","z":"aef1feb9.79d568","name":"","group":"3a545bc3.3e23d4","order":3,"width":0,"height":0,"passthru":false,"label":"MỞ","tooltip":"Mở quạt","color":"","bgcolor":"","icon":"brightness_high","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":550,"y":360,"wires":[["58b6111e.5ca0d8","7684cc23.33d764"]]},{"id":"7684cc23.33d764","type":"debug","z":"aef1feb9.79d568","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":420,"wires":[]},{"id":"d6d7f7b.1780b88","type":"ui_button","z":"aef1feb9.79d568","name":"","group":"3a545bc3.3e23d4","order":4,"width":0,"height":0,"passthru":false,"label":"TẮT","tooltip":"Tắt quạt","color":"","bgcolor":"","icon":"brightness_low","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":550,"y":420,"wires":[["58b6111e.5ca0d8","7684cc23.33d764"]]},{"id":"6167004c.c16bc8","type":"ui_text","z":"aef1feb9.79d568","group":"3a545bc3.3e23d4","order":1,"width":3,"height":2,"name":"fan","label":"TRẠNG THÁI:","format":"","layout":"col-center","x":790,"y":140,"wires":[],"icon":"node-red/light.svg"},{"id":"1252af68.1083b1","type":"change","z":"aef1feb9.79d568","name":"On light","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":140,"wires":[["6167004c.c16bc8","3576e2d0.17818e"]]},{"id":"d5779817.3acfb8","type":"switch","z":"aef1feb9.79d568","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":120,"wires":[["1252af68.1083b1"],["6e786751.bc2d1"]]},{"id":"6e786751.bc2d1","type":"change","z":"aef1feb9.79d568","name":"Off light","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":180,"wires":[["6167004c.c16bc8","3576e2d0.17818e"]]},{"id":"6d24fb1e.4d3e6c","type":"ui_led","z":"aef1feb9.79d568","order":2,"group":"a96f9b8f.ec677","width":3,"height":2,"label":"{{msg.payload}}","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"#808080","value":"OFF","valueType":"str"},{"color":"#008000","value":"ON","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"LED","x":790,"y":100,"wires":[]},{"id":"3576e2d0.17818e","type":"ui_led","z":"aef1feb9.79d568","order":2,"group":"3a545bc3.3e23d4","width":3,"height":2,"label":"{{msg.payload}}","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"#808080","value":"OFF","valueType":"str"},{"color":"#008000","value":"ON","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"FAN","x":790,"y":180,"wires":[]},{"id":"15bd13c7.3ac5c4","type":"function","z":"aef1feb9.79d568","name":"sensor data","func":"var output = msg.payload.split(\",\")\nvar temp = parseInt(output[0]);\nvar hum = parseInt(output[1]);\n\nvar msg1 = {payload: temp};\nvar msg2 = {payload: hum};\nglobal.set('sensor', {temp, hum});\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":390,"y":240,"wires":[["5baf53ee.7b74f4"],["e8d1ea5c.301df8"]]},{"id":"45334b6b.f9f1f4","type":"mqtt in","z":"aef1feb9.79d568","name":"101","topic":"datalog/101","qos":"2","datatype":"auto","broker":"6fbfc926.970768","x":90,"y":240,"wires":[["15bd13c7.3ac5c4"]]},{"id":"cfc9a25f.3c5638","type":"comment","z":"aef1feb9.79d568","name":"State of Light and Fan","info":"","x":140,"y":20,"wires":[]},{"id":"389f51d6.0e39ce","type":"comment","z":"aef1feb9.79d568","name":"Sensor Values","info":"","x":110,"y":200,"wires":[]},{"id":"ba756d02.717008","type":"comment","z":"aef1feb9.79d568","name":"Control Light","info":"","x":110,"y":320,"wires":[]},{"id":"953e7d69.22dcf","type":"comment","z":"aef1feb9.79d568","name":"Control Fan","info":"","x":570,"y":320,"wires":[]},{"id":"59c173c7.7ff344","type":"mqtt in","z":"aef1feb9.79d568","name":"102","topic":"datalog/102","qos":"2","datatype":"auto","broker":"6fbfc926.970768","x":90,"y":120,"wires":[["d5779817.3acfb8"]]},{"id":"3ae4c9f6.1a8856","type":"mqtt in","z":"aef1feb9.79d568","name":"","topic":"datalog/103","qos":"2","datatype":"auto","broker":"6fbfc926.970768","x":110,"y":540,"wires":[["95964fc2.622a18","956bb76.76c7c48"]]},{"id":"c4bfb432.ae3748","type":"ui_text","z":"aef1feb9.79d568","group":"84bb0723.788e6","order":1,"width":0,"height":0,"name":"","label":"BỘ ĐIỀU KHIỂN: ","format":"{{msg.payload}}","layout":"row-center","x":560,"y":540,"wires":[]},{"id":"95964fc2.622a18","type":"function","z":"aef1feb9.79d568","name":"UpperCase","func":"msg.payload = msg.payload.toUpperCase();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":540,"wires":[["c4bfb432.ae3748"]]},{"id":"7d3e72fd.f3f20c","type":"comment","z":"aef1feb9.79d568","name":"Status of Control","info":"","x":120,"y":500,"wires":[]},{"id":"956bb76.76c7c48","type":"switch","z":"aef1feb9.79d568","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"offline","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":600,"wires":[["6d4e3217.53c2b4"]]},{"id":"11fe2ded.613d9a","type":"link out","z":"aef1feb9.79d568","name":"sensor offline","links":["50fc4e35.c2ff9"],"x":695,"y":600,"wires":[]},{"id":"50fc4e35.c2ff9","type":"link in","z":"aef1feb9.79d568","name":"","links":["11fe2ded.613d9a"],"x":235,"y":280,"wires":[["15bd13c7.3ac5c4"]]},{"id":"6d4e3217.53c2b4","type":"function","z":"aef1feb9.79d568","name":"","func":"msg.payload = \"-40,0\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":600,"wires":[["11fe2ded.613d9a"]]},{"id":"b6b4da8f.0f27d","type":"ui_button","z":"6f2537fb.c6ffd","name":"","group":"ecfbb3c4.cae9b","order":2,"width":3,"height":1,"passthru":false,"label":"Làm mới","tooltip":"","color":"","bgcolor":"","icon":"history","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":80,"y":140,"wires":[["b30d936f.ae95b"]]},{"id":"5c7d92bb.472d1c","type":"debug","z":"6f2537fb.c6ffd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":160,"wires":[]},{"id":"cb1d87a4.68afd","type":"http request","z":"6f2537fb.c6ffd","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://script.google.com/macros/s/AKfycbxOAgF5V0hqgbEYn0GxooWKMYEXV-Ec6M4YYV5DG2ij_vfxFSAZxWwMTA/exec?q={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":120,"wires":[["c9ea969c.c9c958","6ea2f060.854b2"]]},{"id":"c9ea969c.c9c958","type":"function","z":"6f2537fb.c6ffd","name":"formatDataForTable","func":"var data  = msg.payload.data\nvar row = [];\n\nfor(var i = 0; i < data.length; i++) {\n    var column = data[i];\n    if (column[0] != \"\")\n    {\n        var object = {\n        first: (new Date(column[0]).toLocaleString('vi-VN', { hour12: false })),\n        second: column[1],\n        third: column[2]\n        };\n        row.push(object);\n    }\n}\nmsg.payload = row;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":80,"wires":[["555104b2.d5dd04","5c7d92bb.472d1c"]]},{"id":"ce019d22.ce3548","type":"ui_template","z":"6f2537fb.c6ffd","group":"ecfbb3c4.cae9b","name":"","order":3,"width":9,"height":7,"format":"<div ng-bind-html=\"msg.payload\" style=\"text-align:center;\"><br/>\n</div>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":960,"y":120,"wires":[[]]},{"id":"555104b2.d5dd04","type":"template","z":"6f2537fb.c6ffd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table width=\"100%\">\n    <tr><th>Thời gian</th><th>Nhiệt độ (°C)</th><th>Độ ẩm (%)</th></tr>\n    {{#payload}}\n    <tr>\n        <td>{{first}}</td>\n        <td>{{second}}</td>\n        <td>{{third}}</td>\n    </tr>\n    {{/payload}}\n</table>\n","output":"str","x":840,"y":60,"wires":[["ce019d22.ce3548"]]},{"id":"15c08551.0202c3","type":"ui_ui_control","z":"6f2537fb.c6ffd","name":"","events":"connect","x":80,"y":200,"wires":[["b30d936f.ae95b"]]},{"id":"94ee3e90.b9db38","type":"inject","z":"6f2537fb.c6ffd","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.8","topic":"change","payload":"datalog","payloadType":"str","x":90,"y":80,"wires":[["b30d936f.ae95b"]]},{"id":"2698870f.db6858","type":"comment","z":"6f2537fb.c6ffd","name":"Load Data From Google Spreadsheets","info":"","x":170,"y":40,"wires":[]},{"id":"59de04b6.116fec","type":"ui_numeric","z":"6f2537fb.c6ffd","name":"","label":"Số lượng bản ghi","tooltip":"Set number of datalog","group":"ecfbb3c4.cae9b","order":1,"width":6,"height":1,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"10000000000","step":1,"x":110,"y":300,"wires":[["b9355a55.5cc72"]],"icon":"font-awesome/fa-th-list"},{"id":"b9355a55.5cc72","type":"function","z":"6f2537fb.c6ffd","name":"SetNumberData","func":"var data = msg.payload;\nflow.set('number', data);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":300,"wires":[[]]},{"id":"b30d936f.ae95b","type":"function","z":"6f2537fb.c6ffd","name":"GetNumberData","func":"var data = flow.get('number');\nif (data == undefined || data == 0) data = 10;\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":160,"wires":[["cb1d87a4.68afd","2703149c.97fecc"]]},{"id":"2703149c.97fecc","type":"debug","z":"6f2537fb.c6ffd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":220,"wires":[]},{"id":"4b0da8ad.42ac2","type":"comment","z":"6f2537fb.c6ffd","name":"Set Number of Data","info":"","x":110,"y":260,"wires":[]},{"id":"4f073594.0a550c","type":"comment","z":"6f2537fb.c6ffd","name":"Draw Graph","info":"","x":90,"y":360,"wires":[]},{"id":"2f22912d.806dce","type":"ui_button","z":"6f2537fb.c6ffd","name":"","group":"9282dbdf.6fa6","order":2,"width":0,"height":0,"passthru":false,"label":"VẼ BIỂU ĐỒ","tooltip":"","color":"","bgcolor":"","icon":"timeline","payload":"datalog","payloadType":"flow","topic":"topic","topicType":"msg","x":100,"y":400,"wires":[["321f92c1.ed12fe"]]},{"id":"b6edb0d8.774f88","type":"function","z":"6f2537fb.c6ffd","name":"SaveListDataLog","func":"var data = msg.payload;\nflow.set('datalog', data);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":930,"y":200,"wires":[]},{"id":"1f86fbff.49acec","type":"comment","z":"6f2537fb.c6ffd","name":"Get Data Log","info":"","x":690,"y":320,"wires":[]},{"id":"fc80caaf.c8134","type":"ui_template","z":"6f2537fb.c6ffd","group":"ecfbb3c4.cae9b","name":"","order":4,"width":9,"height":2,"format":"<div style=\"margin:3px;\">\n    <div style=\"margin:10px 0;\">\n        <label><strong>Tải toàn bộ bản ghi: </strong></label>\n        <a href=\"https://docs.google.com/spreadsheets/d/e/2PACX-1vS551vh9dLjSEOZb6uJCEN1KoeCixDIweNjypTO9YUcCbiBnoxEKjibfL_0nFpgK_h0-qN22X_3VA35/pub?output=csv\" \n            target=\"_blank\" \n            style=\"color:white;font-size:20px;text-decoration:none;border:1px solid white;padding:5px;\">\n            DOWNLOAD\n        </a>\n    </div>\n    <div style=\"margin:20px 0;\">\n        <label><strong>Tải các bản ghi hiện tại: </strong></label>\n        <a href=\"/current\" \n            target=\"_blank\" \n            style=\"color:white;font-size:20px;text-decoration:none;border:1px solid white;padding:5px;\">\n            DOWNLOAD\n        </a>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":680,"y":360,"wires":[[]]},{"id":"d85b3a62.704978","type":"ui_chart","z":"6f2537fb.c6ffd","name":"","group":"9282dbdf.6fa6","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"DD/MM/YY HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":550,"y":400,"wires":[[]]},{"id":"321f92c1.ed12fe","type":"function","z":"6f2537fb.c6ffd","name":"FormatDataForChart","func":"var chart = [{\n    \"series\":[\"nhiệt độ\", 'độ ẩm'],\n    \"data\":[[], []],\n    \"labels\":[\"\"]\n}];\n\n\nvar data = flow.get(\"datalog\");\n// console.log(data)\n\n\nfor (let item of data) {\n    let time = item.first;\n    chart[0].data[0].push({x: time, y: item.second});\n    chart[0].data[1].push({x: time, y: item.third});\n}\n\nmsg.payload = chart;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":400,"wires":[["d85b3a62.704978","aea741b7.67b378"]]},{"id":"aea741b7.67b378","type":"debug","z":"6f2537fb.c6ffd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":460,"wires":[]},{"id":"dddcc820.8894f","type":"function","z":"6f2537fb.c6ffd","name":"ArrayToCSV","func":"var data = flow.get(\"datalog\");\nvar csv = '';\n// Header Rows\ncsv += 'Timestamp,Temperature,Humidity\\n';\nfor (let item of data) {\n    csv += `${new Date(item.first).toLocaleString('vi-VN', { hour12: false })},${item.second},${item.third}\\n`;\n}\n\nmsg.payload = csv;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":520,"wires":[["d83e0758.4080d8"]]},{"id":"c6b91714.1c9198","type":"http in","z":"6f2537fb.c6ffd","name":"","url":"/current","method":"get","upload":false,"swaggerDoc":"","x":100,"y":520,"wires":[["dddcc820.8894f"]]},{"id":"d83e0758.4080d8","type":"change","z":"6f2537fb.c6ffd","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"text/csv","tot":"str"},{"t":"set","p":"headers.Content-Disposition","pt":"msg","to":"contentdisposition","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":520,"wires":[["c7c13846.9b0c9"]]},{"id":"c7c13846.9b0c9","type":"http response","z":"6f2537fb.c6ffd","name":"","statusCode":"200","headers":{},"x":660,"y":520,"wires":[]},{"id":"a3d3a799.b56e9","type":"comment","z":"6f2537fb.c6ffd","name":"Routes For Get Current Data","info":"","x":140,"y":480,"wires":[]},{"id":"6ea2f060.854b2","type":"function","z":"6f2537fb.c6ffd","name":"formatDataForGraph","func":"var data  = msg.payload.data\nvar row = [];\n\nfor(var i = 0; i < data.length; i++) {\n    var column = data[i];\n    if (column[0] != \"\")\n    {\n        var object = {\n        first: column[0],\n        second: column[1],\n        third: column[2]\n        };\n        row.push(object);\n    }\n}\nmsg.payload = row;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":200,"wires":[["b6edb0d8.774f88"]]}]