flows.json
[{"id":"9fcfee81.f10e6","type":"tab","label":"Logging","disabled":true,"info":""},{"id":"e0478dd0.0ac68","type":"tab","label":"Logger","disabled":false,"info":""},{"id":"fb98d837.90a97","type":"tab","label":"Control","disabled":false,"info":""},{"id":"fefe8317.acaca","type":"mqtt-broker","name":"","broker":"ws://broker.emqx.io:8083/mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a96f9b8f.ec677","type":"ui_group","name":"LIGHT 1","tab":"59b6904f.a9a2a","order":1,"disp":true,"width":"6","collapse":false},{"id":"3d44e0fa.6005e","type":"ui_group","name":"TEMPERATURE","tab":"59b6904f.a9a2a","order":3,"disp":true,"width":"6","collapse":false},{"id":"70fc3089.f3fae","type":"ui_group","name":"HUMIDITY","tab":"59b6904f.a9a2a","order":4,"disp":true,"width":"6","collapse":false},{"id":"59b6904f.a9a2a","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"be15b399.4aa36","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Times New Roman,Times,serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Times New Roman,Times,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Smart Home Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"160e81fb.f1c86e","type":"ui_group","d":true,"name":"Datalog Browser","tab":"c8ebc50c.de5d","order":1,"disp":true,"width":"16","collapse":false},{"id":"c8ebc50c.de5d","type":"ui_tab","name":"Data Logger","icon":"assessment","order":2,"disabled":false,"hidden":false},{"id":"3a545bc3.3e23d4","type":"ui_group","name":"LIGHT 2","tab":"59b6904f.a9a2a","order":2,"disp":true,"width":"6","collapse":false},{"id":"9dad0d5.91e6e7","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":7,"width":1,"height":1},{"id":"15929d22.4fa32b","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":8,"width":1,"height":1},{"id":"afea232c.05ea","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":9,"width":1,"height":1},{"id":"26e0be05.9b1112","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":15,"width":1,"height":1},{"id":"124dc6ff.ea1f41","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":17,"width":1,"height":1},{"id":"eba25b37.21bfe","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":18,"width":1,"height":1},{"id":"520711af.af28f","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":19,"width":1,"height":1},{"id":"dcf330f.ec98cd","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":20,"width":1,"height":1},{"id":"2929d6ef.8c72d2","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":21,"width":1,"height":1},{"id":"86de40cb.8f5cd","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":22,"width":1,"height":1},{"id":"ecfbb3c4.cae9b","type":"ui_group","name":"Data Logger","tab":"fe418ce9.113c78","order":1,"disp":true,"width":10,"collapse":false},{"id":"9282dbdf.6fa6","type":"ui_group","name":"Graph","tab":"fe418ce9.113c78","order":2,"disp":true,"width":10,"collapse":false},{"id":"fe418ce9.113c78","type":"ui_tab","name":"Logger","icon":"insert_chart","disabled":false,"hidden":false},{"id":"6fbfc926.970768","type":"mqtt-broker","name":"","broker":"smallprojectnode.ddns.net","port":"8383","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4fa73dd9.83cca4","type":"comment","z":"9fcfee81.f10e6","name":"File Browser","info":"1) Update the default folder in the Init node\n2) Update the default folder in the Reset node as well\n3) You can duplicate the Reset nodes and use them as saved shortcuts\n4) Check the Convert Timestamps function node if you want to see your dates in a different format. I just used the Javascript toISOString format.\n5) The Graph button can read any CSV file which have any number of values, but the first column always contains a timestamp column with javascript timestamp of the data point.\n6) Ui control for fire when event of dash board changed... like refresh page","x":110,"y":60,"wires":[]},{"id":"993d7272.843ae","type":"fs-file-lister","z":"9fcfee81.f10e6","name":"Files","start":"datalog","pattern":"*.*","folders":"*","hidden":false,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":510,"y":160,"wires":[["dd88bd23.37cde","3e094f82.15d6e"]]},{"id":"d185a45.2327a58","type":"inject","z":"9fcfee81.f10e6","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"change","payload":"datalog","payloadType":"str","x":110,"y":120,"wires":[["3d4e5e51.bdf952"]]},{"id":"dd88bd23.37cde","type":"function","z":"9fcfee81.f10e6","name":"Format data","func":"// format the data for the dropdown\nmsg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    // This is a file\n    obj = {};\n    obj [msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":160,"wires":[["eb17c7ee.e61988"]]},{"id":"9d27e846.b31db8","type":"template","z":"9fcfee81.f10e6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table width=\"100%\">\n    <tr><th>File Name</th><th>Size</th><th>Created</th><th>Changed</th></tr>\n    {{#payload}}\n        <tr>\n            <td><a href=\"/download?filename={{name}}\" target=\"blank\">{{fname}}</a></td>\n            <td>{{stat.size}}</td>\n            <td>{{stat.created}}</td>\n            <td>{{stat.changed}}</td>\n        </tr>\n    {{/payload}}\n</table>\n","output":"str","x":940,"y":220,"wires":[["638728aa.cd0b08"]]},{"id":"3e094f82.15d6e","type":"function","z":"9fcfee81.f10e6","name":"Convert timestamps","func":"for (var i=0; i<msg.payload.length; i++) {\n    msg.payload[i].stat.created = msg.payload[i].stat.created.toLocaleString();\n    msg.payload[i].stat.changed = msg.payload[i].stat.changed.toLocaleString();\n    msg.payload[i].stat.accessed = msg.payload[i].stat.accessed.toLocaleString();\n    msg.payload[i].stat.statusChanged = msg.payload[i].stat.statusChanged.toLocaleString();\n    msg.payload[i].fname = msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '');\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":220,"wires":[["9d27e846.b31db8","e901890.e251b78"]]},{"id":"7d490dd1.8458b4","type":"function","z":"9fcfee81.f10e6","name":"Get filename","func":"// Get the filename from the flow context\nlet filename = flow.get(\"fileselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0]!==\".\") {\n    // Only do this if this is a file, we don't delete folders\n    // and delete the context/selection as we are deleting the file as well\n    flow.set(\"fileselected\");\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":380,"wires":[["372ee262.fc94de"]]},{"id":"372ee262.fc94de","type":"file","z":"9fcfee81.f10e6","name":"Delete file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":540,"y":380,"wires":[["993d7272.843ae","5219875b.c070d8"]]},{"id":"aa8c482.93734b8","type":"http in","z":"9fcfee81.f10e6","name":"","url":"/download","method":"get","upload":false,"swaggerDoc":"","x":140,"y":520,"wires":[["d969ba04.e24028"]]},{"id":"d19cc7d8.646328","type":"http response","z":"9fcfee81.f10e6","name":"","statusCode":"","headers":{},"x":930,"y":520,"wires":[]},{"id":"d969ba04.e24028","type":"function","z":"9fcfee81.f10e6","name":"Get the file name","func":"msg.filename = msg.req.query.filename;\nmsg.contentdisposition = \"attachment; filename=\\\"\" + msg.req.query.filename.replace(/^.*(\\\\|\\/|\\:)/, '') + \"\\\"\";\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":520,"wires":[["e92381c3.c4cd2"]],"outputLabels":["Folder selected","File selected"]},{"id":"e92381c3.c4cd2","type":"file in","z":"9fcfee81.f10e6","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":580,"y":520,"wires":[["99ff4953.d0d5c8"]]},{"id":"99ff4953.d0d5c8","type":"change","z":"9fcfee81.f10e6","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"text/csv","tot":"str"},{"t":"set","p":"headers.Content-Disposition","pt":"msg","to":"contentdisposition","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":520,"wires":[["d19cc7d8.646328"]]},{"id":"30f41c01.358a54","type":"function","z":"9fcfee81.f10e6","name":"Get filename","func":"// Get the filename from the flow context\nlet filename = flow.get(\"fileselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0]!==\".\") {\n    // Only do this if this is a file, we don't delete folders\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":640,"wires":[["4f4072b6.0c320c"]]},{"id":"4f4072b6.0c320c","type":"file in","z":"9fcfee81.f10e6","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":440,"y":640,"wires":[["4d254665.d508e8"]]},{"id":"4d254665.d508e8","type":"csv","z":"9fcfee81.f10e6","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"x":590,"y":640,"wires":[["7dcec769.580718"]]},{"id":"84810f0e.43f4e","type":"debug","z":"9fcfee81.f10e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":600,"wires":[]},{"id":"7dcec769.580718","type":"function","z":"9fcfee81.f10e6","name":"Format data for chart","func":"var chart = [{\n    \"series\":[],\n    \"data\":[],\n    \"labels\":[msg.filename]\n}];\n\n\n/*\nvar pressure = [];\nvar out2 = [];\n\nfor (var i=0; i<msg.payload.length; i++) {\n    pressure.push({\"x\":msg.payload[i].timestamp, \"y\":msg.payload[i].pressure});\n    out2.push({\"x\":msg.payload[i].timestamp, \"y\":msg.payload[i].out2*200});\n\n}\nchart[0].data.push(pressure);\nchart[0].data.push(out2);\n*/\n\nlet columns = 0;\n\nfor(var series in msg.payload[0]) {\n    if(series!==\"timestamp\") {\n        chart[0].series.push(series);\n        chart[0].data.push([]);\n        columns++;\n    }\n}\n\n\nfor (var j=0; j<msg.payload.length; j++) {\n   for(var i=0;i<columns;i++) {\n       chart[0].data[i].push({\"x\":msg.payload[j].timestamp, \"y\":msg.payload[j][chart[0].series[i]]});\n   } \n}\n\n\n\n\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":640,"wires":[["5022cb53.8adc44","84810f0e.43f4e"]]},{"id":"8da8147a.999af8","type":"change","z":"9fcfee81.f10e6","name":"Set message","rules":[{"t":"set","p":"topic","pt":"msg","to":"Delete confirmation","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Are you sure you want to delete this file?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":320,"wires":[["554f0095.ac1b2"]]},{"id":"24df84fe.ebf45c","type":"switch","z":"9fcfee81.f10e6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":320,"wires":[["7d490dd1.8458b4"]]},{"id":"3d4e5e51.bdf952","type":"function","z":"9fcfee81.f10e6","name":"Folder handling","func":"let folder = context.get(\"folder\");\nif (folder===undefined) {\n    folder=\"/\";\n    context.set(\"folder\", folder);\n}\n\nlet hidden = context.get(\"hidden\");\nif (hidden===undefined) {\n    hidden=false;\n    context.set(\"hidden\", hidden);\n}\n\nif (msg.topic===\"up\") {\n    var the_arr = folder.split('/');\n    the_arr.pop();\n    folder=the_arr.join('/'); \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"change\") {\n    folder=msg.payload;    \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"hidden\") {\n    hidden=msg.payload;    \n    context.set(\"hidden\", hidden);\n}\n\nmsg.payload = {\"start\":folder, \"hidden\": hidden};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":220,"wires":[["993d7272.843ae","399ac341.7d43bc","5219875b.c070d8"]]},{"id":"8c1dfaac.979588","type":"function","z":"9fcfee81.f10e6","name":"Change folder","func":"// Get the filename from the flow context\nlet folderselected = flow.get(\"folderselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (folderselected===undefined) {\n    return;\n}\n\nmsg.topic = \"change\";\nmsg.payload = folderselected;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":440,"wires":[["3d4e5e51.bdf952"]]},{"id":"5219875b.c070d8","type":"fs-file-lister","z":"9fcfee81.f10e6","name":"Folders","start":"datalog","pattern":"*.*","folders":"*","hidden":false,"lstype":"directories","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":520,"y":260,"wires":[["ebc234be.d53fe8"]]},{"id":"ebc234be.d53fe8","type":"function","z":"9fcfee81.f10e6","name":"Format data","func":"// format the data for the dropdown\nmsg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    // This is a foler\n    obj = {};\n    obj [\"[\"+msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')+\"]\"]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":260,"wires":[["37485c24.212054"]]},{"id":"be4830df.5775d","type":"change","z":"9fcfee81.f10e6","name":"Save selection","rules":[{"t":"set","p":"fileselected","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":160,"wires":[[]]},{"id":"2875c79f.531558","type":"change","z":"9fcfee81.f10e6","name":"Save selection","rules":[{"t":"set","p":"folderselected","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":260,"wires":[[]]},{"id":"a715f7a4.a398a8","type":"ui_button","z":"9fcfee81.f10e6","name":"","group":"160e81fb.f1c86e","order":1,"width":2,"height":1,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"refresh","topicType":"str","x":100,"y":160,"wires":[["3d4e5e51.bdf952"]]},{"id":"7b7e0d58.05e244","type":"ui_button","z":"9fcfee81.f10e6","name":"","group":"160e81fb.f1c86e","order":12,"width":2,"height":1,"passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"delete","payload":"","payloadType":"str","topic":"","topicType":"str","x":130,"y":320,"wires":[["8da8147a.999af8"]]},{"id":"2519dd0d.54d6b2","type":"ui_button","z":"9fcfee81.f10e6","name":"","group":"160e81fb.f1c86e","order":14,"width":2,"height":1,"passthru":false,"label":"Graph","tooltip":"","color":"","bgcolor":"","icon":"show_chart","payload":"","payloadType":"str","topic":"","x":90,"y":640,"wires":[["30f41c01.358a54"]]},{"id":"b40ea1d8.c700a","type":"ui_button","z":"9fcfee81.f10e6","d":true,"name":"","group":"160e81fb.f1c86e","order":5,"width":2,"height":1,"passthru":false,"label":"Up","tooltip":"","color":"","bgcolor":"","icon":"arrow_upwards","payload":"","payloadType":"str","topic":"up","topicType":"str","x":110,"y":240,"wires":[["3d4e5e51.bdf952"]]},{"id":"80940e39.5035b","type":"ui_button","z":"9fcfee81.f10e6","name":"","group":"160e81fb.f1c86e","order":11,"width":2,"height":1,"passthru":false,"label":"Open","tooltip":"","color":"","bgcolor":"","icon":"folder_open","payload":"","payloadType":"str","topic":"","topicType":"str","x":130,"y":440,"wires":[["8c1dfaac.979588"]]},{"id":"58414ec4.c716e","type":"ui_button","z":"9fcfee81.f10e6","name":"","group":"160e81fb.f1c86e","order":2,"width":2,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"autorenew","payload":"datalog","payloadType":"str","topic":"change","topicType":"str","x":110,"y":200,"wires":[["3d4e5e51.bdf952"]]},{"id":"eb17c7ee.e61988","type":"ui_dropdown","z":"9fcfee81.f10e6","name":"File Selector","label":"","tooltip":"","place":"Select a file","group":"160e81fb.f1c86e","order":13,"width":4,"height":1,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","topicType":"str","x":950,"y":160,"wires":[["be4830df.5775d"]]},{"id":"37485c24.212054","type":"ui_dropdown","z":"9fcfee81.f10e6","name":"Folder Selector","label":"","tooltip":"","place":"Select a folder","group":"160e81fb.f1c86e","order":10,"width":5,"height":1,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","topicType":"str","x":920,"y":260,"wires":[["2875c79f.531558"]]},{"id":"928e60a7.994be","type":"ui_switch","z":"9fcfee81.f10e6","name":"","label":"Hidden","tooltip":"Show hidden files or not","group":"160e81fb.f1c86e","order":4,"width":4,"height":1,"passthru":false,"decouple":"false","topic":"hidden","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"#000000","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"#000000","animate":true,"x":100,"y":280,"wires":[["3d4e5e51.bdf952"]]},{"id":"399ac341.7d43bc","type":"ui_text","z":"9fcfee81.f10e6","group":"160e81fb.f1c86e","order":3,"width":6,"height":1,"name":"","label":"Folder:","format":"{{msg.payload.start}}","layout":"row-left","x":500,"y":100,"wires":[]},{"id":"5022cb53.8adc44","type":"ui_chart","z":"9fcfee81.f10e6","name":"","group":"160e81fb.f1c86e","order":16,"width":15,"height":6,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1000,"y":640,"wires":[[]]},{"id":"554f0095.ac1b2","type":"ui_toast","z":"9fcfee81.f10e6","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"Yes","cancel":"No","raw":false,"topic":"","name":"Confirmation","x":510,"y":320,"wires":[["24df84fe.ebf45c"]]},{"id":"638728aa.cd0b08","type":"ui_template","z":"9fcfee81.f10e6","group":"160e81fb.f1c86e","name":"","order":6,"width":15,"height":3,"format":"<div ng-bind-html=\"msg.payload\" style=\"text-align:center;\"><br/>\n</div>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1100,"y":220,"wires":[[]]},{"id":"e901890.e251b78","type":"debug","z":"9fcfee81.f10e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":80,"wires":[]},{"id":"e4d4613a.2702b8","type":"ui_ui_control","z":"9fcfee81.f10e6","name":"","events":"connect","x":110,"y":380,"wires":[["3d4e5e51.bdf952"]]},{"id":"c49c9f3.4c1dde","type":"ui_button","z":"e0478dd0.0ac68","name":"","group":"ecfbb3c4.cae9b","order":2,"width":3,"height":1,"passthru":false,"label":"Refersh","tooltip":"","color":"","bgcolor":"","icon":"history","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":80,"y":140,"wires":[["145226ef.abdbf1"]]},{"id":"9deb5405.f98f1","type":"debug","z":"e0478dd0.0ac68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":260,"wires":[]},{"id":"bfa76d58.ce6ec8","type":"http request","z":"e0478dd0.0ac68","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://script.google.com/macros/s/AKfycbxOAgF5V0hqgbEYn0GxooWKMYEXV-Ec6M4YYV5DG2ij_vfxFSAZxWwMTA/exec?q={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":120,"wires":[["ec1b7bac.b9bc4"]]},{"id":"ec1b7bac.b9bc4","type":"function","z":"e0478dd0.0ac68","name":"formatData","func":"var data  = msg.payload.data\nvar row = [];\n\nfor(var i = 0; i < data.length; i++) {\n    var column = data[i];\n    if (column[0] != \"\")\n    {\n        var object = {\n        first: (new Date(column[0]).toLocaleString('vn-VN', { hour12: false })),\n        second: column[1],\n        third: column[2]\n        };\n        row.push(object);\n    }\n}\nmsg.payload = row;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":140,"wires":[["9deb5405.f98f1","542363c2.09fbe4","c6e053a8.1d9348"]]},{"id":"95b67a73.8f6f6","type":"ui_template","z":"e0478dd0.0ac68","group":"ecfbb3c4.cae9b","name":"","order":3,"width":10,"height":7,"format":"<div ng-bind-html=\"msg.payload\" style=\"text-align:center;\"><br/>\n</div>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":960,"y":140,"wires":[[]]},{"id":"542363c2.09fbe4","type":"template","z":"e0478dd0.0ac68","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table width=\"100%\">\n    <tr><th>Date</th><th>Temperature (°C)</th><th>Humidity (%)</th></tr>\n    {{#payload}}\n    <tr>\n        <td>{{first}}</td>\n        <td>{{second}}</td>\n        <td>{{third}}</td>\n    </tr>\n    {{/payload}}\n</table>\n","output":"str","x":800,"y":140,"wires":[["95b67a73.8f6f6"]]},{"id":"e7df6814.c06b5","type":"ui_ui_control","z":"e0478dd0.0ac68","name":"","events":"connect","x":80,"y":200,"wires":[["145226ef.abdbf1"]]},{"id":"158ab1aa.77f3de","type":"inject","z":"e0478dd0.0ac68","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.8","topic":"change","payload":"datalog","payloadType":"str","x":90,"y":80,"wires":[["145226ef.abdbf1"]]},{"id":"6e969aba.460b4c","type":"comment","z":"e0478dd0.0ac68","name":"Load Data From Google Spreadsheets","info":"","x":170,"y":40,"wires":[]},{"id":"308cf077.ce1938","type":"ui_numeric","z":"e0478dd0.0ac68","name":"","label":"Number Of Datalog","tooltip":"Set number of datalog","group":"ecfbb3c4.cae9b","order":1,"width":7,"height":1,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"10000000000","step":1,"x":110,"y":300,"wires":[["9cfe6d81.8a08e8"]],"icon":"font-awesome/fa-th-list"},{"id":"9cfe6d81.8a08e8","type":"function","z":"e0478dd0.0ac68","name":"SetNumberData","func":"var data = msg.payload;\nflow.set('number', data);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":300,"wires":[[]]},{"id":"145226ef.abdbf1","type":"function","z":"e0478dd0.0ac68","name":"GetNumberData","func":"var data = flow.get('number');\nif (data == undefined || data == 0) data = 10;\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":160,"wires":[["bfa76d58.ce6ec8","72f567a8.ecc54"]]},{"id":"72f567a8.ecc54","type":"debug","z":"e0478dd0.0ac68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":220,"wires":[]},{"id":"7e6262a0.3514c4","type":"comment","z":"e0478dd0.0ac68","name":"Set Number of Data","info":"","x":110,"y":260,"wires":[]},{"id":"e7b19d66.131a18","type":"comment","z":"e0478dd0.0ac68","name":"Draw Graph","info":"","x":90,"y":360,"wires":[]},{"id":"1a24437c.2ba98d","type":"ui_button","z":"e0478dd0.0ac68","name":"","group":"9282dbdf.6fa6","order":2,"width":0,"height":0,"passthru":false,"label":"Graph","tooltip":"","color":"","bgcolor":"","icon":"timeline","payload":"datalog","payloadType":"flow","topic":"topic","topicType":"msg","x":80,"y":400,"wires":[["5c133cee.5f9264"]]},{"id":"c6e053a8.1d9348","type":"function","z":"e0478dd0.0ac68","name":"SaveListDataLog","func":"var data = msg.payload;\nflow.set('datalog', data);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":850,"y":200,"wires":[]},{"id":"7f02c3a9.973274","type":"comment","z":"e0478dd0.0ac68","name":"Get Data Log","info":"","x":690,"y":320,"wires":[]},{"id":"4261a281.919bbc","type":"ui_template","z":"e0478dd0.0ac68","group":"ecfbb3c4.cae9b","name":"","order":4,"width":10,"height":2,"format":"<div style=\"margin:3px;\">\n    <div style=\"margin:10px 0;\">\n        <label><strong>Download All Datalog From Google: </strong></label>\n        <a href=\"https://docs.google.com/spreadsheets/d/e/2PACX-1vS551vh9dLjSEOZb6uJCEN1KoeCixDIweNjypTO9YUcCbiBnoxEKjibfL_0nFpgK_h0-qN22X_3VA35/pub?output=csv\" \n            target=\"_blank\" \n            style=\"color:white;font-size:20px;text-decoration:none;border:1px solid white;padding:5px;\">\n            All Datalog\n        </a>\n    </div>\n    <div style=\"margin:20px 0;\">\n        <label><strong>Download Current Datalog: </strong></label>\n        <a href=\"/current\" \n            target=\"_blank\" \n            style=\"color:white;font-size:20px;text-decoration:none;border:1px solid white;padding:5px;\">\n            Current Datalog\n        </a>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":680,"y":360,"wires":[[]]},{"id":"b2c1d062.a3898","type":"ui_chart","z":"e0478dd0.0ac68","name":"","group":"9282dbdf.6fa6","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":490,"y":400,"wires":[[]]},{"id":"5c133cee.5f9264","type":"function","z":"e0478dd0.0ac68","name":"FormatDataForChart","func":"var chart = [{\n    \"series\":[\"temperature\", 'humidity'],\n    \"data\":[[], []],\n    \"labels\":[\"\"]\n}];\n\n\nvar data = flow.get(\"datalog\");\n// console.log(data)\n\n\nfor (let item of data) {\n    let time = Date.parse(item.first);\n    chart[0].data[0].push({x: time, y: item.second});\n    chart[0].data[1].push({x: time, y: item.third});\n}\n\nmsg.payload = chart;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":400,"wires":[["b2c1d062.a3898","7dcdc547.fc464c"]]},{"id":"7dcdc547.fc464c","type":"debug","z":"e0478dd0.0ac68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":440,"wires":[]},{"id":"143f2c7b.32b7b4","type":"function","z":"e0478dd0.0ac68","name":"ArrayToCSV","func":"var data = flow.get(\"datalog\");\nvar csv = '';\n// Header Rows\ncsv += 'TimeStamp,Temperature,Humidity\\n';\nfor (let item of data) {\n    csv += `${item.first},${item.second},${item.third}\\n`;\n}\n\nmsg.payload = csv;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":520,"wires":[["ab1708bd.ec30a8"]]},{"id":"759991e1.8070c","type":"http in","z":"e0478dd0.0ac68","name":"","url":"/current","method":"get","upload":false,"swaggerDoc":"","x":100,"y":520,"wires":[["143f2c7b.32b7b4"]]},{"id":"ab1708bd.ec30a8","type":"change","z":"e0478dd0.0ac68","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"text/csv","tot":"str"},{"t":"set","p":"headers.Content-Disposition","pt":"msg","to":"contentdisposition","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":520,"wires":[["9300c235.dbbb6"]]},{"id":"9300c235.dbbb6","type":"http response","z":"e0478dd0.0ac68","name":"","statusCode":"","headers":{},"x":650,"y":520,"wires":[]},{"id":"edb8eb93.8a13f8","type":"comment","z":"e0478dd0.0ac68","name":"Routes For Get Current Data","info":"","x":140,"y":480,"wires":[]},{"id":"e1f9881b.2bf4f","type":"mqtt in","z":"fb98d837.90a97","name":"100","topic":"datalog/100","qos":"2","datatype":"auto","broker":"6fbfc926.970768","x":90,"y":120,"wires":[["e9b2aeb0.a80578"]]},{"id":"8c819c4.1d36c6","type":"ui_text","z":"fb98d837.90a97","group":"a96f9b8f.ec677","order":1,"width":2,"height":2,"name":"light 1","label":"STATE:","format":"","layout":"col-center","x":910,"y":80,"wires":[],"icon":"node-red/light.svg"},{"id":"f9f39ca5.60745","type":"mqtt out","z":"fb98d837.90a97","name":"1001","topic":"light/1001","qos":"0","retain":"","broker":"6fbfc926.970768","x":310,"y":360,"wires":[]},{"id":"f8f9397.2c96948","type":"ui_button","z":"fb98d837.90a97","name":"","group":"a96f9b8f.ec677","order":3,"width":0,"height":0,"passthru":false,"label":"ON","tooltip":"Turn on the light","color":"","bgcolor":"","icon":"brightness_high","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":360,"wires":[["f9f39ca5.60745","dbeaf6c8.5fcb38"]]},{"id":"e9b2aeb0.a80578","type":"function","z":"fb98d837.90a97","name":"light state","func":"var output = msg.payload.split(\",\");\n\nvar light1 = parseInt(output[0]);\nvar light2 = parseInt(output[1]);\n\nvar msg1 = {payload: light1};\nvar msg2 = {payload: light2};\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":240,"y":120,"wires":[["3f2c1e7a.2ea7fa"],["551b1d75.aac4ac"]]},{"id":"7ff39fb3.9a6488","type":"change","z":"fb98d837.90a97","name":"On light","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":80,"wires":[["8c819c4.1d36c6","af66a06a.9967c"]]},{"id":"3f2c1e7a.2ea7fa","type":"switch","z":"fb98d837.90a97","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":80,"wires":[["7ff39fb3.9a6488"],["e73b19ba.fb5af8"]]},{"id":"e73b19ba.fb5af8","type":"change","z":"fb98d837.90a97","name":"Off light","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":120,"wires":[["8c819c4.1d36c6","af66a06a.9967c"]]},{"id":"dbeaf6c8.5fcb38","type":"debug","z":"fb98d837.90a97","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":420,"wires":[]},{"id":"df106c4a.832c4","type":"ui_gauge","z":"fb98d837.90a97","name":"","group":"3d44e0fa.6005e","order":1,"width":0,"height":0,"gtype":"donut","title":"","label":"°C","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":260,"wires":[]},{"id":"5d0bec13.7184d4","type":"ui_button","z":"fb98d837.90a97","name":"","group":"a96f9b8f.ec677","order":4,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"Turn off the light","color":"","bgcolor":"","icon":"brightness_low","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":420,"wires":[["f9f39ca5.60745","dbeaf6c8.5fcb38"]]},{"id":"97792b58.bd0a38","type":"ui_gauge","z":"fb98d837.90a97","name":"","group":"70fc3089.f3fae","order":1,"width":0,"height":0,"gtype":"wave","title":"","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":300,"wires":[]},{"id":"2cd4ed12.03b5c2","type":"mqtt out","z":"fb98d837.90a97","name":"1002","topic":"light/1002","qos":"0","retain":"","broker":"6fbfc926.970768","x":770,"y":360,"wires":[]},{"id":"7f0b6f54.46a918","type":"ui_button","z":"fb98d837.90a97","name":"","group":"3a545bc3.3e23d4","order":3,"width":0,"height":0,"passthru":false,"label":"ON","tooltip":"Turn on the light","color":"","bgcolor":"","icon":"brightness_high","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":550,"y":360,"wires":[["2cd4ed12.03b5c2","ca14609d.61283"]]},{"id":"ca14609d.61283","type":"debug","z":"fb98d837.90a97","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":420,"wires":[]},{"id":"a52d9e06.5fc63","type":"ui_button","z":"fb98d837.90a97","name":"","group":"3a545bc3.3e23d4","order":4,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"Turn off the light","color":"","bgcolor":"","icon":"brightness_low","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":550,"y":420,"wires":[["2cd4ed12.03b5c2","ca14609d.61283"]]},{"id":"2c9287ea.01e21","type":"ui_text","z":"fb98d837.90a97","group":"3a545bc3.3e23d4","order":1,"width":2,"height":2,"name":"light 2","label":"STATE:","format":"","layout":"col-center","x":910,"y":160,"wires":[],"icon":"node-red/light.svg"},{"id":"885a4aec.ef236","type":"change","z":"fb98d837.90a97","name":"On light","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":160,"wires":[["2c9287ea.01e21","aada4984.df7828"]]},{"id":"551b1d75.aac4ac","type":"switch","z":"fb98d837.90a97","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":140,"wires":[["885a4aec.ef236"],["49c31a2c.26e414"]]},{"id":"49c31a2c.26e414","type":"change","z":"fb98d837.90a97","name":"Off light","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":200,"wires":[["2c9287ea.01e21","aada4984.df7828"]]},{"id":"af66a06a.9967c","type":"ui_led","z":"fb98d837.90a97","order":2,"group":"a96f9b8f.ec677","width":4,"height":2,"label":"{{msg.payload}}","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"#808080","value":"OFF","valueType":"str"},{"color":"#008000","value":"ON","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"LED 1","x":910,"y":120,"wires":[]},{"id":"aada4984.df7828","type":"ui_led","z":"fb98d837.90a97","order":2,"group":"3a545bc3.3e23d4","width":4,"height":2,"label":"{{msg.payload}}","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"#808080","value":"OFF","valueType":"str"},{"color":"#008000","value":"ON","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"LED 2","x":910,"y":200,"wires":[]},{"id":"2ded1128.d7a726","type":"function","z":"fb98d837.90a97","name":"sensor data","func":"var output = msg.payload.split(\",\")\nvar temp = parseInt(output[0]);\nvar hum = parseInt(output[1]);\n\nvar msg1 = {payload: temp};\nvar msg2 = {payload: hum};\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":250,"y":240,"wires":[["df106c4a.832c4"],["97792b58.bd0a38"]]},{"id":"451a5913.731d8","type":"mqtt in","z":"fb98d837.90a97","name":"100","topic":"datalog/101","qos":"2","datatype":"auto","broker":"6fbfc926.970768","x":90,"y":240,"wires":[["2ded1128.d7a726"]]},{"id":"78b233c9.f78dfc","type":"comment","z":"fb98d837.90a97","name":"State of Lights","info":"","x":120,"y":60,"wires":[]},{"id":"a5196530.e956e8","type":"comment","z":"fb98d837.90a97","name":"Sensor Values","info":"","x":110,"y":200,"wires":[]},{"id":"56db3caf.8dbe9c","type":"comment","z":"fb98d837.90a97","name":"Control Light 1","info":"","x":120,"y":320,"wires":[]},{"id":"4747f4d6.4bb9dc","type":"comment","z":"fb98d837.90a97","name":"Control Light 2","info":"","x":580,"y":320,"wires":[]}]