lib/flows/flows.json
[{"id":"e0478dd0.0ac68","type":"tab","label":"Logger","disabled":false,"info":""},{"id":"77a4f924.11fa98","type":"tab","label":"Control","disabled":false,"info":""},{"id":"9fcfee81.f10e6","type":"tab","label":"Logging","disabled":false,"info":""},{"id":"fefe8317.acaca","type":"mqtt-broker","name":"","broker":"ws://broker.emqx.io:8083/mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a96f9b8f.ec677","type":"ui_group","name":"Light 1","tab":"59b6904f.a9a2a","order":1,"disp":true,"width":"6","collapse":false},{"id":"3d44e0fa.6005e","type":"ui_group","name":"Temperature","tab":"59b6904f.a9a2a","order":3,"disp":true,"width":"6","collapse":false},{"id":"70fc3089.f3fae","type":"ui_group","name":"Humidity","tab":"59b6904f.a9a2a","order":4,"disp":true,"width":"6","collapse":false},{"id":"59b6904f.a9a2a","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"be15b399.4aa36","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Times New Roman,Times,serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Times New Roman,Times,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Smart Home Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"160e81fb.f1c86e","type":"ui_group","name":"Datalog Browser","tab":"c8ebc50c.de5d","order":1,"disp":true,"width":"16","collapse":false},{"id":"c8ebc50c.de5d","type":"ui_tab","name":"Data Logger","icon":"assessment","order":2,"disabled":false,"hidden":false},{"id":"3a545bc3.3e23d4","type":"ui_group","name":"Light 2","tab":"59b6904f.a9a2a","order":2,"disp":true,"width":"6","collapse":false},{"id":"9dad0d5.91e6e7","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":7,"width":1,"height":1},{"id":"15929d22.4fa32b","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":8,"width":1,"height":1},{"id":"afea232c.05ea","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":9,"width":1,"height":1},{"id":"26e0be05.9b1112","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":15,"width":1,"height":1},{"id":"124dc6ff.ea1f41","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":17,"width":1,"height":1},{"id":"eba25b37.21bfe","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":18,"width":1,"height":1},{"id":"520711af.af28f","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":19,"width":1,"height":1},{"id":"dcf330f.ec98cd","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":20,"width":1,"height":1},{"id":"2929d6ef.8c72d2","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":21,"width":1,"height":1},{"id":"86de40cb.8f5cd","type":"ui_spacer","name":"spacer","group":"160e81fb.f1c86e","order":22,"width":1,"height":1},{"id":"ed5d4cf2.63151","type":"comment","z":"e0478dd0.0ac68","name":"Auto Logger","info":"","x":90,"y":100,"wires":[]},{"id":"26084e8e.8b7962","type":"function","z":"e0478dd0.0ac68","name":"Set data","func":"var now = new Date();\n\nmsg.payload = {\n    \"timestamp\" : now.getTime(),\n    \"temperature\" : msg.msg433.TEMP,\n    \"humidity\" : msg.msg433.HUM\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":160,"wires":[["b1946b67.adfe7"]]},{"id":"b1946b67.adfe7","type":"function","z":"e0478dd0.0ac68","name":"Filename generator","func":"// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Generate out file name pattern\nmsg.fname = \"maplin_\"+ yyyy + mm + dd + \".csv\";\n// Full filename with path for the file node later\nmsg.filename = \"datalog/\"+ msg.fname;\n\n// We save the current payload into a different place on the msg object\nmsg.filecontent = msg.payload;\n\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nmsg.payload = {\"pattern\":msg.fname};\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.fname});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":280,"wires":[["c2b776ee.bc666"]]},{"id":"c2b776ee.bc666","type":"fs-file-lister","z":"e0478dd0.0ac68","name":"","start":"datalog/","pattern":"","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":340,"y":280,"wires":[["56093b55.71ae6c","703015e8.582e4c"]]},{"id":"56093b55.71ae6c","type":"debug","z":"e0478dd0.0ac68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":200,"wires":[]},{"id":"703015e8.582e4c","type":"switch","z":"e0478dd0.0ac68","name":"","property":"$count(msg.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":280,"wires":[["ff2f77f6.5a1758"],["8e06d0e.7241c3"]]},{"id":"706dbee0.b3148","type":"csv","z":"e0478dd0.0ac68","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"timestamp,temperature,humidity","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":830,"y":260,"wires":[["e9ed6404.ff4cc"]]},{"id":"e9ed6404.ff4cc","type":"file","z":"e0478dd0.0ac68","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":990,"y":260,"wires":[[]]},{"id":"eb30cc11.612248","type":"csv","z":"e0478dd0.0ac68","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,temperature,humidity","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":830,"y":300,"wires":[["e9ed6404.ff4cc"]]},{"id":"ff2f77f6.5a1758","type":"change","z":"e0478dd0.0ac68","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":260,"wires":[["706dbee0.b3148"]]},{"id":"8e06d0e.7241c3","type":"change","z":"e0478dd0.0ac68","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":300,"wires":[["eb30cc11.612248"]]},{"id":"337f248c.6f631c","type":"mqtt in","z":"77a4f924.11fa98","name":"100","topic":"$2a$08$TMb80aLFfZbX.8SAFu.3aOJPFu.G8x4ei8e2XTykmdIVvKBf9JkKG/100","qos":"2","datatype":"auto","broker":"fefe8317.acaca","x":220,"y":220,"wires":[["c17da265.4637e"]]},{"id":"4d436699.07fdf","type":"ui_text","z":"77a4f924.11fa98","group":"a96f9b8f.ec677","order":1,"width":0,"height":0,"name":"light 1","label":"State: ","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":40,"wires":[],"icon":"node-red/light.svg"},{"id":"604211a5.8f8ed","type":"mqtt out","z":"77a4f924.11fa98","name":"1001","topic":"$2a$08$TMb80aLFfZbX.8SAFu.3aOJPFu.G8x4ei8e2XTykmdIVvKBf9JkKG/1001","qos":"0","retain":"","broker":"fefe8317.acaca","x":630,"y":360,"wires":[]},{"id":"7700896.1f30678","type":"ui_button","z":"77a4f924.11fa98","name":"","group":"a96f9b8f.ec677","order":2,"width":0,"height":0,"passthru":false,"label":"ON","tooltip":"Turn on the light","color":"","bgcolor":"","icon":"brightness_high","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":310,"y":360,"wires":[["604211a5.8f8ed","85ffa9a8.ee7a8"]]},{"id":"c17da265.4637e","type":"function","z":"77a4f924.11fa98","name":"","func":"var output = msg.payload.split(\",\");\n\nvar light1 = parseInt(output[0]);\nvar light2 = parseInt(output[1]);\nvar temp = parseInt(output[2]);\nvar hum = parseInt(output[3]);\n\nvar msg1 = {payload: light1};\nvar msg2 = {payload: light2};\nvar msg3 = {payload: temp};\nvar msg4 = {payload: hum};\n\nreturn [msg1, msg2, msg3, msg4];","outputs":4,"noerr":0,"initialize":"","finalize":"","x":460,"y":200,"wires":[["2102dc12.b2c00c"],["8067dc45.0edf3"],["66d781d4.fa8908"],["e7b2f89.e4ca108"]]},{"id":"e80a8d10.4b4ae8","type":"change","z":"77a4f924.11fa98","name":"On light","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":40,"wires":[["4d436699.07fdf"]]},{"id":"2102dc12.b2c00c","type":"switch","z":"77a4f924.11fa98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":40,"wires":[["e80a8d10.4b4ae8"],["af6c1b77.faa24"]]},{"id":"af6c1b77.faa24","type":"change","z":"77a4f924.11fa98","name":"Off light","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":100,"wires":[["4d436699.07fdf"]]},{"id":"85ffa9a8.ee7a8","type":"debug","z":"77a4f924.11fa98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":460,"wires":[]},{"id":"66d781d4.fa8908","type":"ui_gauge","z":"77a4f924.11fa98","name":"","group":"3d44e0fa.6005e","order":1,"width":0,"height":0,"gtype":"donut","title":"","label":"°C","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":320,"wires":[]},{"id":"10cf9801.f839e8","type":"ui_button","z":"77a4f924.11fa98","name":"","group":"a96f9b8f.ec677","order":3,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"Turn off the light","color":"","bgcolor":"","icon":"brightness_low","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":310,"y":420,"wires":[["604211a5.8f8ed","85ffa9a8.ee7a8"]]},{"id":"4fa73dd9.83cca4","type":"comment","z":"9fcfee81.f10e6","name":"File Browser","info":"1) Update the default folder in the Init node\n2) Update the default folder in the Reset node as well\n3) You can duplicate the Reset nodes and use them as saved shortcuts\n4) Check the Convert Timestamps function node if you want to see your dates in a different format. I just used the Javascript toISOString format.\n5) The Graph button can read any CSV file which have any number of values, but the first column always contains a timestamp column with javascript timestamp of the data point.\n6) Ui control for fire when event of dash board changed... like refresh page","x":110,"y":60,"wires":[]},{"id":"993d7272.843ae","type":"fs-file-lister","z":"9fcfee81.f10e6","name":"Files","start":"datalog","pattern":"*.*","folders":"*","hidden":false,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":510,"y":160,"wires":[["dd88bd23.37cde","3e094f82.15d6e"]]},{"id":"d185a45.2327a58","type":"inject","z":"9fcfee81.f10e6","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"change","payload":"datalog","payloadType":"str","x":110,"y":120,"wires":[["3d4e5e51.bdf952"]]},{"id":"dd88bd23.37cde","type":"function","z":"9fcfee81.f10e6","name":"Format data","func":"// format the data for the dropdown\nmsg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    // This is a file\n    obj = {};\n    obj [msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":160,"wires":[["eb17c7ee.e61988"]]},{"id":"9d27e846.b31db8","type":"template","z":"9fcfee81.f10e6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table width=\"100%\">\n    <tr><th>File Name</th><th>Size</th><th>Created</th><th>Changed</th></tr>\n    {{#payload}}\n        <tr>\n            <td><a href=\"/download?filename={{name}}\" target=\"blank\">{{fname}}</a></td>\n            <td>{{stat.size}}</td>\n            <td>{{stat.created}}</td>\n            <td>{{stat.changed}}</td>\n        </tr>\n    {{/payload}}\n</table>\n","output":"str","x":940,"y":220,"wires":[["638728aa.cd0b08"]]},{"id":"3e094f82.15d6e","type":"function","z":"9fcfee81.f10e6","name":"Convert timestamps","func":"for (var i=0; i<msg.payload.length; i++) {\n    msg.payload[i].stat.created = msg.payload[i].stat.created.toLocaleString();\n    msg.payload[i].stat.changed = msg.payload[i].stat.changed.toLocaleString();\n    msg.payload[i].stat.accessed = msg.payload[i].stat.accessed.toLocaleString();\n    msg.payload[i].stat.statusChanged = msg.payload[i].stat.statusChanged.toLocaleString();\n    msg.payload[i].fname = msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '');\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":220,"wires":[["9d27e846.b31db8","e901890.e251b78"]]},{"id":"7d490dd1.8458b4","type":"function","z":"9fcfee81.f10e6","name":"Get filename","func":"// Get the filename from the flow context\nlet filename = flow.get(\"fileselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0]!==\".\") {\n    // Only do this if this is a file, we don't delete folders\n    // and delete the context/selection as we are deleting the file as well\n    flow.set(\"fileselected\");\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":380,"wires":[["372ee262.fc94de"]]},{"id":"372ee262.fc94de","type":"file","z":"9fcfee81.f10e6","name":"Delete file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":540,"y":380,"wires":[["993d7272.843ae","5219875b.c070d8"]]},{"id":"aa8c482.93734b8","type":"http in","z":"9fcfee81.f10e6","name":"","url":"/download","method":"get","upload":false,"swaggerDoc":"","x":140,"y":520,"wires":[["d969ba04.e24028"]]},{"id":"d19cc7d8.646328","type":"http response","z":"9fcfee81.f10e6","name":"","statusCode":"","headers":{},"x":930,"y":520,"wires":[]},{"id":"d969ba04.e24028","type":"function","z":"9fcfee81.f10e6","name":"Get the file name","func":"msg.filename = msg.req.query.filename;\nmsg.contentdisposition = \"attachment; filename=\\\"\" + msg.req.query.filename.replace(/^.*(\\\\|\\/|\\:)/, '') + \"\\\"\";\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":520,"wires":[["e92381c3.c4cd2"]],"outputLabels":["Folder selected","File selected"]},{"id":"e92381c3.c4cd2","type":"file in","z":"9fcfee81.f10e6","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":580,"y":520,"wires":[["99ff4953.d0d5c8"]]},{"id":"99ff4953.d0d5c8","type":"change","z":"9fcfee81.f10e6","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"text/csv","tot":"str"},{"t":"set","p":"headers.Content-Disposition","pt":"msg","to":"contentdisposition","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":520,"wires":[["d19cc7d8.646328"]]},{"id":"30f41c01.358a54","type":"function","z":"9fcfee81.f10e6","name":"Get filename","func":"// Get the filename from the flow context\nlet filename = flow.get(\"fileselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0]!==\".\") {\n    // Only do this if this is a file, we don't delete folders\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":640,"wires":[["4f4072b6.0c320c"]]},{"id":"4f4072b6.0c320c","type":"file in","z":"9fcfee81.f10e6","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":440,"y":640,"wires":[["4d254665.d508e8"]]},{"id":"4d254665.d508e8","type":"csv","z":"9fcfee81.f10e6","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"x":590,"y":640,"wires":[["7dcec769.580718"]]},{"id":"84810f0e.43f4e","type":"debug","z":"9fcfee81.f10e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":600,"wires":[]},{"id":"7dcec769.580718","type":"function","z":"9fcfee81.f10e6","name":"Format data for chart","func":"var chart = [{\n    \"series\":[],\n    \"data\":[],\n    \"labels\":[msg.filename]\n}];\n\n\n/*\nvar pressure = [];\nvar out2 = [];\n\nfor (var i=0; i<msg.payload.length; i++) {\n    pressure.push({\"x\":msg.payload[i].timestamp, \"y\":msg.payload[i].pressure});\n    out2.push({\"x\":msg.payload[i].timestamp, \"y\":msg.payload[i].out2*200});\n\n}\nchart[0].data.push(pressure);\nchart[0].data.push(out2);\n*/\n\nlet columns = 0;\n\nfor(var series in msg.payload[0]) {\n    if(series!==\"timestamp\") {\n        chart[0].series.push(series);\n        chart[0].data.push([]);\n        columns++;\n    }\n}\n\n\nfor (var j=0; j<msg.payload.length; j++) {\n   for(var i=0;i<columns;i++) {\n       chart[0].data[i].push({\"x\":msg.payload[j].timestamp, \"y\":msg.payload[j][chart[0].series[i]]});\n   } \n}\n\n\n\n\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":640,"wires":[["5022cb53.8adc44","84810f0e.43f4e"]]},{"id":"8da8147a.999af8","type":"change","z":"9fcfee81.f10e6","name":"Set message","rules":[{"t":"set","p":"topic","pt":"msg","to":"Delete confirmation","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Are you sure you want to delete this file?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":320,"wires":[["554f0095.ac1b2"]]},{"id":"24df84fe.ebf45c","type":"switch","z":"9fcfee81.f10e6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":320,"wires":[["7d490dd1.8458b4"]]},{"id":"3d4e5e51.bdf952","type":"function","z":"9fcfee81.f10e6","name":"Folder handling","func":"let folder = context.get(\"folder\");\nif (folder===undefined) {\n    folder=\"/\";\n    context.set(\"folder\", folder);\n}\n\nlet hidden = context.get(\"hidden\");\nif (hidden===undefined) {\n    hidden=false;\n    context.set(\"hidden\", hidden);\n}\n\nif (msg.topic===\"up\") {\n    var the_arr = folder.split('/');\n    the_arr.pop();\n    folder=the_arr.join('/'); \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"change\") {\n    folder=msg.payload;    \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"hidden\") {\n    hidden=msg.payload;    \n    context.set(\"hidden\", hidden);\n}\n\nmsg.payload = {\"start\":folder, \"hidden\": hidden};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":220,"wires":[["993d7272.843ae","399ac341.7d43bc","5219875b.c070d8"]]},{"id":"8c1dfaac.979588","type":"function","z":"9fcfee81.f10e6","name":"Change folder","func":"// Get the filename from the flow context\nlet folderselected = flow.get(\"folderselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (folderselected===undefined) {\n    return;\n}\n\nmsg.topic = \"change\";\nmsg.payload = folderselected;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":440,"wires":[["3d4e5e51.bdf952"]]},{"id":"5219875b.c070d8","type":"fs-file-lister","z":"9fcfee81.f10e6","name":"Folders","start":"datalog","pattern":"*.*","folders":"*","hidden":false,"lstype":"directories","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":520,"y":260,"wires":[["ebc234be.d53fe8"]]},{"id":"ebc234be.d53fe8","type":"function","z":"9fcfee81.f10e6","name":"Format data","func":"// format the data for the dropdown\nmsg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    // This is a foler\n    obj = {};\n    obj [\"[\"+msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')+\"]\"]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":260,"wires":[["37485c24.212054"]]},{"id":"be4830df.5775d","type":"change","z":"9fcfee81.f10e6","name":"Save selection","rules":[{"t":"set","p":"fileselected","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":160,"wires":[[]]},{"id":"2875c79f.531558","type":"change","z":"9fcfee81.f10e6","name":"Save selection","rules":[{"t":"set","p":"folderselected","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":260,"wires":[[]]},{"id":"a715f7a4.a398a8","type":"ui_button","z":"9fcfee81.f10e6","name":"","group":"160e81fb.f1c86e","order":1,"width":2,"height":1,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"refresh","topicType":"str","x":100,"y":160,"wires":[["3d4e5e51.bdf952"]]},{"id":"7b7e0d58.05e244","type":"ui_button","z":"9fcfee81.f10e6","name":"","group":"160e81fb.f1c86e","order":12,"width":2,"height":1,"passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"delete","payload":"","payloadType":"str","topic":"","topicType":"str","x":130,"y":320,"wires":[["8da8147a.999af8"]]},{"id":"2519dd0d.54d6b2","type":"ui_button","z":"9fcfee81.f10e6","name":"","group":"160e81fb.f1c86e","order":14,"width":2,"height":1,"passthru":false,"label":"Graph","tooltip":"","color":"","bgcolor":"","icon":"show_chart","payload":"","payloadType":"str","topic":"","x":90,"y":640,"wires":[["30f41c01.358a54"]]},{"id":"b40ea1d8.c700a","type":"ui_button","z":"9fcfee81.f10e6","d":true,"name":"","group":"160e81fb.f1c86e","order":5,"width":2,"height":1,"passthru":false,"label":"Up","tooltip":"","color":"","bgcolor":"","icon":"arrow_upwards","payload":"","payloadType":"str","topic":"up","topicType":"str","x":110,"y":240,"wires":[["3d4e5e51.bdf952"]]},{"id":"80940e39.5035b","type":"ui_button","z":"9fcfee81.f10e6","name":"","group":"160e81fb.f1c86e","order":11,"width":2,"height":1,"passthru":false,"label":"Open","tooltip":"","color":"","bgcolor":"","icon":"folder_open","payload":"","payloadType":"str","topic":"","topicType":"str","x":130,"y":440,"wires":[["8c1dfaac.979588"]]},{"id":"58414ec4.c716e","type":"ui_button","z":"9fcfee81.f10e6","name":"","group":"160e81fb.f1c86e","order":2,"width":2,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"autorenew","payload":"datalog","payloadType":"str","topic":"change","topicType":"str","x":110,"y":200,"wires":[["3d4e5e51.bdf952"]]},{"id":"eb17c7ee.e61988","type":"ui_dropdown","z":"9fcfee81.f10e6","name":"File Selector","label":"","tooltip":"","place":"Select a file","group":"160e81fb.f1c86e","order":13,"width":4,"height":1,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","topicType":"str","x":950,"y":160,"wires":[["be4830df.5775d"]]},{"id":"37485c24.212054","type":"ui_dropdown","z":"9fcfee81.f10e6","name":"Folder Selector","label":"","tooltip":"","place":"Select a folder","group":"160e81fb.f1c86e","order":10,"width":5,"height":1,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","topicType":"str","x":920,"y":260,"wires":[["2875c79f.531558"]]},{"id":"928e60a7.994be","type":"ui_switch","z":"9fcfee81.f10e6","name":"","label":"Hidden","tooltip":"Show hidden files or not","group":"160e81fb.f1c86e","order":4,"width":4,"height":1,"passthru":false,"decouple":"false","topic":"hidden","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"#000000","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"#000000","animate":true,"x":100,"y":280,"wires":[["3d4e5e51.bdf952"]]},{"id":"399ac341.7d43bc","type":"ui_text","z":"9fcfee81.f10e6","group":"160e81fb.f1c86e","order":3,"width":6,"height":1,"name":"","label":"Folder:","format":"{{msg.payload.start}}","layout":"row-left","x":500,"y":100,"wires":[]},{"id":"5022cb53.8adc44","type":"ui_chart","z":"9fcfee81.f10e6","name":"","group":"160e81fb.f1c86e","order":16,"width":15,"height":6,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1000,"y":640,"wires":[[]]},{"id":"554f0095.ac1b2","type":"ui_toast","z":"9fcfee81.f10e6","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"Yes","cancel":"No","raw":false,"topic":"","name":"Confirmation","x":510,"y":320,"wires":[["24df84fe.ebf45c"]]},{"id":"638728aa.cd0b08","type":"ui_template","z":"9fcfee81.f10e6","group":"160e81fb.f1c86e","name":"","order":6,"width":15,"height":3,"format":"<div ng-bind-html=\"msg.payload\" style=\"text-align:center;\"><br/>\n</div>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1100,"y":220,"wires":[[]]},{"id":"e901890.e251b78","type":"debug","z":"9fcfee81.f10e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":80,"wires":[]},{"id":"e4d4613a.2702b8","type":"ui_ui_control","z":"9fcfee81.f10e6","name":"","events":"connect","x":110,"y":380,"wires":[["3d4e5e51.bdf952"]]},{"id":"e7b2f89.e4ca108","type":"ui_gauge","z":"77a4f924.11fa98","name":"","group":"70fc3089.f3fae","order":3,"width":0,"height":0,"gtype":"wave","title":"","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":360,"wires":[]},{"id":"3ecd34a.a3b354c","type":"mqtt out","z":"77a4f924.11fa98","name":"1002","topic":"$2a$08$TMb80aLFfZbX.8SAFu.3aOJPFu.G8x4ei8e2XTykmdIVvKBf9JkKG/1002","qos":"0","retain":"","broker":"fefe8317.acaca","x":630,"y":520,"wires":[]},{"id":"76a82d5.301fed4","type":"ui_button","z":"77a4f924.11fa98","name":"","group":"3a545bc3.3e23d4","order":2,"width":0,"height":0,"passthru":false,"label":"ON","tooltip":"Turn on the light","color":"","bgcolor":"","icon":"brightness_high","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":310,"y":520,"wires":[["3ecd34a.a3b354c","60183e88.c5029"]]},{"id":"60183e88.c5029","type":"debug","z":"77a4f924.11fa98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":620,"wires":[]},{"id":"af70cfe1.58659","type":"ui_button","z":"77a4f924.11fa98","name":"","group":"3a545bc3.3e23d4","order":3,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"Turn off the light","color":"","bgcolor":"","icon":"brightness_low","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":310,"y":580,"wires":[["3ecd34a.a3b354c","60183e88.c5029"]]},{"id":"58ce11b0.a1fa78","type":"ui_text","z":"77a4f924.11fa98","group":"3a545bc3.3e23d4","order":1,"width":0,"height":0,"name":"light 2","label":"State: ","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":160,"wires":[],"icon":"node-red/light.svg"},{"id":"ef611183.0efdb","type":"change","z":"77a4f924.11fa98","name":"On light","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":160,"wires":[["58ce11b0.a1fa78"]]},{"id":"8067dc45.0edf3","type":"switch","z":"77a4f924.11fa98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":160,"wires":[["ef611183.0efdb"],["d1979f5e.704c8"]]},{"id":"d1979f5e.704c8","type":"change","z":"77a4f924.11fa98","name":"Off light","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":220,"wires":[["58ce11b0.a1fa78"]]}]
